:host {// host - стилізація будем робити відносно цього компонента(contact-list)
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    .phone {
        text-decoration: none;
        color: #000;
    }
}