:host {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    button.add-contact {
        height: 40px;
        line-height: 22px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 8px 16px;
    }
    form {
        width: 100%;
    }
    .form-group {
        display: flex;
        justify-content: space-evenly;
    }
    .form-group label {
        width: 50%;
        display: block;
    }
    .input {
        width: 50%;
        margin: 5px 0 5px 50px;
        
    }
}