<button class="add-contact" *ngIf="!isShowForm" (click)="showForm()">Add new contact</button>

<form action="" *ngIf="isShowForm" [formGroup]="addContactForm">
    <div class="form__body">
        <div class="form-group">
            <label for="">Name contact</label>
            <input type="text"
                class="input" 
                placeholder="name"
                formControlName="name"
            
            >
        </div>
        <div class="form-group">
            <label for="">Number</label>
            <input type="text" 
                class="input"
                placeholder="number"
                formControlName="phone"
            >
        </div>
    </div>
    <div class="form__footer">
        <button type="submit" 
                class="submit" 
                (click)="onSubmit()"
                [disabled] = "!addContactForm.valid"
        >Create contact</button>
    </div>
</form>